.heading{
    text-align: center;
}
.container{
    text-align: center;
}
.btn{
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 4px 4px;
}
.btn:hover{
    background-color:white;
}
.row{
    display: flex;
    justify-content: center;
}
.l-row button{
    width: 210px;
}
.inp{
    height: 20px;
    width: 248px;
    margin:7px 0;
    padding: 10px 0;
    border: 2px solid gray;
    border-radius: 15px;
    font-size: 30px;
}

